{% extends "AppTienda/master.html" %}

{% block content %}


<div class="container">
    <div class="offer-header justify-content-between">
        <h2>Current Offers</h2>
        <a href="{% url 'add_promotion' %}" class="btn btn-warning">Add new offer</a>
    </div>
    <div class="offers-grid row">
        <div class="d-flex justify-content-between flex-wrap">
            {% for promotion in promotions %}
            <div class=" offer-item">
                <div class="offer-image">
                    <img src="{{ promotion.product.image_url}}" alt="Product Image" class="img-fluid">
                </div>
                <h5>Producto</h5>
                <p>Promoción</p>
                <p>Costo</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
<!-- <!DOCTYPE html>
<html>
<head>
    <title>Promociones Activas</title>
</head>
<body>
    <h1>Promociones Activas</h1>
    {% for promotion in promotions %}
        <div>
            <p>Producto: {{ promotion.product.name }}</p>
            <p>Descuento: {{ promotion.discount }}%</p>
            <p>Fecha de inicio: {{ promotion.start_date }}</p>
            <p>Fecha de finalización: {{ promotion.end_date }}</p>
            <p>Fecha de creación: {{ promotion.created_at }}</p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="promotion_id" value="{{ promotion.id }}">
                <button type="submit">Terminar Promoción</button>
            </form>
        </div>
    {% endfor %}
</body>
</html> -->